{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block full_page %}
<div class="container col-4">
    <div class="card p-4 border-dark" style="background-color: rgba(255,255,255,0.97); height: 93vh">
        <h1 class="card-title ml-3">Create Profile</h1>
        <div class="card-body ml-3">
            <form method="get" action="profile">
                <label class="col-12" for="text">Name</label>
                <input id="text" class="col-12 mb-3" type="text" placeholder="Name" required>

                <label class="col-5 mt-3" for="birthday">Birthday</label>
                <label class="col-5 float-right mt-3" for="gender">Gender</label>
                <input type="date" id="birthday" class="col-5 mb-3" name="birthday" required>
                <select class="form-control border-dark col-5 float-right" name="gender" id="gender">
                    <option value="Man">Man</option>
                    <option value="Women">Women</option>
                </select>
                <label class="col-12 mt-3" for="preference">Preference</label>
                <select class="form-control border-dark mb-3" name="preference" id="preference">
                    <option value="hetrosexual">Hetrosexual</option>
                    <option value="homosexual">Homosexual</option>
                    <option value="bisexual">Bisexual</option>
                </select>
                <label for="description">Description</label>
                <textarea class="form-control border-dark" rows="5" id="description"></textarea>
                <input class="col-12 mt-3 btn btn-success" type="submit" value="Create">
            </form>
        </div>
    </div>
</div>
{% endblock %}