{% extends "base.html" %}

{% block title %}Swipe{% endblock %}
{% block aside %}
<div class="col-12">
    <div class="card p-4 border-dark" style="background-color: rgba(255,255,255,0.97); height: 93vh">
        <label for="new_matches">New matches</label>
        <div id="new_matches" style="overflow: auto;white-space: nowrap;">
            {% for i in 0..50 %}
            {{ i }}
            {% endfor %}
        </div>
        <label for="matches">Matches</label>
        <div id="matches" style="overflow-x:hidden;height: 80vh; white-space: nowrap;">
            <div class="d-flex flex-column">
                {% for i in 0..50 %}
                <div class="p-2"><img class="img-fluid" src="https://picture-cdn.wheretoget.it/eoqyk4-l-610x610-sweater-black-hoodie-antisocial+social+club-girl-women.jpg"></div>
                <div><p></p></div>
                {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="container col-8">
    <div class="card p-4 border-dark" style="background-color: rgba(255,255,255,0.97); height: 93vh">
        SwipePage
    </div>
</div>
{% endblock %}