<!DOCTYPE html>
<html style="overflow-x: hidden">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="https://ih1.redbubble.net/image.1094756177.1140/st,small,845x845-pad,1000x1000,f8f8f8.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="row">
<div class="col-2"></div>
<div class="col-8">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
